
@{
    ViewBag.Title = "jsChart";
    ViewBag.pTitle = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Basic line Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="eCommerceChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Bar Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="barChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">horizontal Bar Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="horizontalBarChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Polar Area Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="polarChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Pie Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="myPieChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Stacked Bar & Line Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="stackedLineChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Radar Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="radarChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Line Area Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="lineAreaChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>
    <div class="col-12 col-xl-6">
        <!--start::card-->
        <div class="card card-h-100">

            <div class="card-header">
                <h6 class="card-title fw-semibold">Doughnut Chart</h6>
            </div>
            <div class="card-body">

                <canvas class="chartjs" id="doughnutChart"></canvas>

            </div>
            <!-- end card-body -->
        </div>
        <!--end::card-->
    </div>

</div>
@section scripts{
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Chart js -->
    <script src="~/assets/js/chart/chartjs.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
