// 
// _pagination.scss
// 
// base
.pagination {
    flex-wrap: wrap;
    gap: 5px;

    .page-link {
        padding: 0;
        text-align: center;
    }
}

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        @include border-radius($border-radius-pill);
    }
}