//
// vector-maps.scss
//

.jvm-container {
    background-color: var(--#{$prefix}secondary-bg) !important;

    text {
        font-family: $font-family-base;
        font-size: $font-size-base;
        fill: var(--#{$prefix}body-color);
    }
}

.jvm-marker {
    stroke-opacity: 1;
    stroke-width: 2;
}

.jvm-zoom-btn {
    line-height: 5px;
    color: var(--#{$prefix}body-color);
}

.jvm-zoom-btn {
    padding: 10px;
}

.jvm-zoomin {
    position: absolute;
    top: 0;
}

.jvm-zoomout {
    position: absolute;
    top: 30px;
}