
@{
    ViewBag.Title = "editor";
    ViewBag.pTitle = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- quill core -->
    <link rel="stylesheet" href="~/assets/libs/quill/quill.core.css">

    <!-- quill bubble -->
    <link rel="stylesheet" href="~/assets/libs/quill/quill.bubble.css">

    <!-- quill snow -->
    <link rel="stylesheet" href="~/assets/libs/quill/quill.snow.css">
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Default Editor</h5>
            </div>
            <div class="card-body">
                <p class="text-muted mb-4">Use the <code>Quill</code> editor below to add and format <code>rich text</code> content easily with support for <code>headings</code>, <code>bold</code>, <code>links</code>, and more.</p>
                <div id="snowEditor">
                    <h3>Hello World!</h3>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br /></p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Bubble Editor</h5>
            </div>
            <div class="card-body">
                <p class="text-muted mb-4">Use the <code>Quill</code> <code>Bubble</code> editor below to add and format <code>rich text</code> content with a floating toolbar for <code>headings</code>, <code>bold</code>, and <code>links</code>.</p>
                <div id="bubbleEditor">
                    <h3>Hello World!</h3>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br /></p>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{

    <!-- quill js -->
    <script src="~/assets/libs/quill/quill.js"></script>

    <!-- Form Editor init -->
    <script src="~/assets/js/form/form-editor.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}