// PRIMARY COLOR VARIATIONS
$color-variations: (
  "orange": (primary: #df8c4d),
  "lime": (primary: #c0cf56), 
  "pink": (primary: #c25fc7),
  "green": (primary: #4cb196),
  "purple": (primary: #9467cb),
  "cyan": (primary: #44a7b3),
);

// SIDEBAR COLOR VARIATIONS
$sidebar-color-variations: (
  "light": (primary: #ffffff),
  "plum": (primary: #332D56),
  "dark": (primary: #222831),
  "indigo": (primary: #3c6d76)
);