
@{
    ViewBag.Title = "lucide";
    ViewBag.pTitle = "Icons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="carbon">
                    <div class="red"></div>
                    <div class="yellow"></div>
                    <div class="green"></div>
                </div>
                <h4 class="card-title mb-2">Package Managers</h4>
                <p class="card-text mb-0 text-muted">
                    Easily install <strong>Lucide Icons</strong> via npm for use in your web applications.
                </p>
                <pre class="mb-0">
                <deckgo-highlight-code lang="bash">
                <code slot="code">npm i lucide --save</code>
                                </deckgo-highlight-code></pre>
                <p class="mb-0 text-muted">Initialize Lucide in your JS file:</p>
                <pre class="mb-0"><deckgo-highlight-code lang="javascript">
                <code slot="code">import { createIcons } from 'lucide'; createIcons();</code>
                                </deckgo-highlight-code></pre>
                <p class="mb-0 text-muted">Then use icons like:</p>
                <pre class="mb-0"><deckgo-highlight-code lang="html">
                <code slot="code">&lt;i data-lucide="home"&gt;&lt;/i&gt;</code>
                                </deckgo-highlight-code></pre>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Basic Icons</h6>
            </div>
            <div class="card-body">
                <div class="d-flex gap-2">
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="circle-user-round" class="h-20px w-20px"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="arrow-up-left-from-circle" class="h-20px w-20px"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="alarm-clock" class="h-20px w-20px"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="rocket" class="h-20px w-20px"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="activity" class="h-20px w-20px"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="file-code" class="h-20px w-20px"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="layers" class="h-20px w-20px"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Colors Icons</h6>
            </div>
            <div class="card-body">
                <div class="d-flex gap-2">
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-20px w-20px text-primary"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="shield" class="h-20px w-20px text-secondary"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="settings" class="h-20px w-20px text-success"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="bell" class="h-20px w-20px text-danger"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="folder" class="h-20px w-20px text-warning"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="message-square" class="h-20px w-20px text-info"></i>
                    </div>
                    <div class="avatar-lg border rounded d-flex align-items-center justify-content-center">
                        <i data-lucide="calendar-days" class="h-20px w-20px text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Size Icons</h6>
            </div>
            <div class="card-body">
                <div class="d-flex gap-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-10px w-10px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-15px w-15px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-20px w-20px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-25px w-25px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-30px w-30px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-36px w-36px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-40px w-40px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-44px w-44px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-50px w-50px"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <i data-lucide="user" class="h-64px w-64px"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <script type="module" src="https://unpkg.com/@("@")deckdeckgo/highlight-code@latest/dist/deckdeckgo-highlight-code/deckdeckgo-highlight-code.esm.js"></script>
    <script src="~/assets/js/app.js"></script>

}