<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/TitleMeta.cshtml" />
    @RenderSection("styles", false)
    <partial name="~/Views/Shared/HeadCSS.cshtml" />
</head>
<body>


        <partial name="~/Views/Shared/authBackground.cshtml" />

        <partial name="~/Views/Shared/authHeader.cshtml" />

                @RenderBody()

    <partial name="~/Views/Shared/vendorscripts.cshtml" />

    @RenderSection("scripts", required: false)
</body>
</html>
