<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/TitleMeta.cshtml" />
    @RenderSection("styles", false)
    <partial name="~/Views/Shared/HeadCSS.cshtml" />
</head>
<body>

    <div id="layout-wrapper">

        <partial name="~/Views/Shared/header.cshtml" />

        <partial name="~/Views/Shared/sidebar.cshtml" />

        <partial name="~/Views/Shared/horizontal.cshtml" />

        <main class="app-wrapper">
            <div class="container-fluid">

                @RenderBody()
            </div><!--End container-fluid-->
        </main><!--End app-wrapper-->
        <partial name="~/Views/Shared/switcher.cshtml" />
        <partial name="~/Views/Shared/scrolltotop.cshtml" />
        <partial name="~/Views/Shared/footer.cshtml" />

    </div>

    <partial name="~/Views/Shared/vendorscripts.cshtml" />

    @RenderSection("scripts", required: false)
</body>
</html>
