<!-- Begin Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center gap-2">
            @DateTime.Now.Year © AXIS.
            <div class="text-sm-end d-none d-sm-block">
                Design & Develop by HTL TECH DEV & INVEST
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->