<aside class="pe-app-sidebar" id="sidebar">
    <div class="pe-app-sidebar-logo px-5 justify-content-center d-flex align-items-center position-relative">
        <!--begin::Brand Image-->
        <a href="/" class="d-flex gap-2 align-items-center logo-main">
            <img height="35" width="35" class="logo-dark" alt="Dark Logo" src="~/assets/images/logo-md-htl.png">
            <h3 class="text-white text-uppercase mb-0">AXIS</h3>
        </a>
        <button type="button" id="sidebarDefaultArrow" class="btn btn-sm p-0 fs-4 ms-auto float-end d-none icon-hover-btn text-white d-none"><i class="ri-arrow-right-double-line"></i></button>
        <!--end::Brand Image-->
    </div>
    <nav class="pe-app-sidebar-menu nav nav-pills" data-simplebar id="sidebar-simplebar">
        <div class="d-flex align-items-start flex-column w-100">
            <ul class="pe-main-menu list-unstyled">
                <!-- Main Menu -->
                <li class="pe-menu-title">Chính</li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseDashboards" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseDashboards">
                        <i class="ri-dashboard-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Bảng điều khiển</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseDashboards">
                        <li class="pe-slide-item">
                            <a href="/" class="pe-nav-link">
                                Nhân sự
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/dashboard/fitness" class="pe-nav-link">
                                Thể dục
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/dashboard/prodcast" class="pe-nav-link">
                                Podcast
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/dashboard/realestate" class="pe-nav-link">
                                Bất động sản
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseApplications" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseApplications">
                        <i class="ri-apps-2-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Ứng dụng</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseApplications">
                        <li class="pe-slide-item">
                            <a href="/apps/calendar" class="pe-nav-link">
                                Lịch
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/apps/chat" class="pe-nav-link">
                                Trò chuyện
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/apps/email" class="pe-nav-link">
                                Email
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/apps/kanban" class="pe-nav-link">
                                Kanban
                            </a>
                        </li>
                        <li class="pe-slide-item pe-has-sub">
                            <a href="#collapseHR" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseHR">
                                <span class="pe-nav-sub-content">Nhân sự</span>
                                <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                            </a>
                            <ul class="pe-slide-menu collapse" id="collapseHR">
                                <li class="pe-slide-item">
                                    <a href="/apps/hremployeelist" class="pe-nav-link">
                                        Danh sách nhân viên
                                    </a>
                                </li>
                                <li class="pe-slide-item pe-has-sub">
                                    <a href="#collapsePayroll" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePayroll">
                                        <span class="pe-nav-sub-content">Lương</span>
                                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                                    </a>
                                    <ul class="pe-slide-menu collapse" id="collapsePayroll">
                                        <li class="pe-slide-item">
                                            <a href="/apps/hrpayrollemployeesalary" class="pe-nav-link">
                                                Lương nhân viên
                                            </a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="/apps/hrpayrollpayslip" class="pe-nav-link">
                                                Phiếu lương
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pe-slide-item pe-has-sub">
                                    <a href="#collapseAttendance" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseAttendance">
                                        <span class="pe-nav-sub-content">Chấm công</span>
                                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                                    </a>
                                    <ul class="pe-slide-menu collapse" id="collapseAttendance">
                                        <li class="pe-slide-item">
                                            <a href="/apps/hrattendance" class="pe-nav-link">
                                                Chấm công (HR)
                                            </a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="/apps/hrmainattendance" class="pe-nav-link">
                                                Chấm công chính
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pe-slide-item pe-has-sub">
                                    <a href="#collapseLeave" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseLeave">
                                        <span class="pe-nav-sub-content">Quản lý nghỉ phép</span>
                                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                                    </a>
                                    <ul class="pe-slide-menu collapse" id="collapseLeave">
                                        <li class="pe-slide-item">
                                            <a href="/apps/hrleave" class="pe-nav-link">
                                                Nghỉ phép (HR)
                                            </a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="/apps/hremployeeleave" class="pe-nav-link">
                                                Nghỉ phép (Nhân viên)
                                            </a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="/apps/hraddleave" class="pe-nav-link">
                                                Thêm nghỉ phép
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/apps/hrperformance" class="pe-nav-link">
                                        Hiệu suất
                                    </a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/apps/hrholidays" class="pe-nav-link">
                                        Ngày lễ
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="pe-slide-item pe-has-sub">
                            <a href="#collapseProdcast" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseProdcast">
                                <span class="pe-nav-sub-content">Podcast</span>
                                <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                            </a>
                            <ul class="pe-slide-menu collapse" id="collapseProdcast">
                                <li class="pe-slide-item">
                                    <a href="/apps/prodcastlist" class="pe-nav-link">
                                        Danh sách Podcast
                                    </a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/apps/prodcastepisodemanage" class="pe-nav-link">
                                        Quản lý tập
                                    </a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/apps/prodcastaudienceanalytics" class="pe-nav-link">
                                        Phân tích khán giả
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="pe-slide-item pe-has-sub">
                            <a href="#collapseRealEstate" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseRealEstate">
                                <span class="pe-nav-sub-content">Bất động sản</span>
                                <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                            </a>
                            <ul class="pe-slide-menu collapse" id="collapseRealEstate">
                                <li class="pe-slide-item pe-has-sub">
                                    <a href="#collapseProperty" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseProperty">
                                        <span class="pe-nav-sub-content">Tài sản</span>
                                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                                    </a>
                                    <ul class="pe-slide-menu collapse" id="collapseProperty">
                                        <li class="pe-slide-item">
                                            <a href="/apps/realestatepropertylist" class="pe-nav-link">
                                                Danh sách tài sản
                                            </a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="/apps/realestatepropertydetails" class="pe-nav-link">
                                                Chi tiết tài sản
                                            </a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="/apps/realestateaddproperty" class="pe-nav-link">
                                                Thêm tài sản
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/apps/realestateagents" class="pe-nav-link">
                                        Đại lý
                                    </a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/apps/realestateclinets" class="pe-nav-link">
                                        Khách hàng
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Pages -->
                <li class="pe-menu-title">Trang</li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseAuth" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseAuth">
                        <i class="ri-user-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Xác thực</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseAuth">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Xác thực</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/signin" class="pe-nav-link">
                                Đăng nhập
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/signup" class="pe-nav-link">
                                Đăng ký
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/forgotpassword" class="pe-nav-link">
                                Quên mật khẩu
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/twostepverify" class="pe-nav-link">
                                Xác thực hai bước
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/resetpassword" class="pe-nav-link">
                                Đặt lại mật khẩu
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/emailverify" class="pe-nav-link">
                                Xác thực email
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/signout" class="pe-nav-link">
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapsePages" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePages">
                        <i class="ri-pages-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Trang</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapsePages">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Trang</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/otherpages/starter" class="pe-nav-link">
                                Trang khởi đầu
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/otherpages/profile" class="pe-nav-link">
                                Hồ sơ
                            </a>
                        </li>
                        <li class="pe-slide-item pe-has-sub">
                            <a href="#collapseBlogs" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseBlogs">
                                <span class="pe-nav-sub-content">Blogs</span>
                                <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                            </a>
                            <ul class="pe-slide-menu collapse" id="collapseBlogs">
                                <li class="slide pe-nav-content1">
                                    <a href="javascript:void(0)">Blog</a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/Otherpages/bloglist" class="pe-nav-link">
                                        Blog List
                                    </a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/Otherpages/blogdetails" class="pe-nav-link">
                                        Blog Details
                                    </a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="/Otherpages/blogcreate" class="pe-nav-link">
                                        Create Blog
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/otherpages/pricing" class="pe-nav-link">
                                Pricing
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/Otherpages/privacypolicy" class="pe-nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/Otherpages/termsconditions" class="pe-nav-link">
                                Terms & Conditions
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/otherpages/timeline" class="pe-nav-link">
                                Timeline
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/otherpages/faqs" class="pe-nav-link">
                                FAQs
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/Otherpages/billingsubscription" class="pe-nav-link">
                                Billing & Subscription
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/notauthorize" class="pe-nav-link">
                                Not Authorized
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/comingsoon" class="pe-nav-link">
                                Comming Soon
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/undermaintenance" class="pe-nav-link">
                                Maintenance
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/auth/error" class="pe-nav-link">
                                Error
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Components -->
                <li class="pe-menu-title">Components</li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseBaseUI" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseBaseUI">
                        <i class="ri-pencil-ruler-2-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Base UI</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseBaseUI">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Base UI</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/accordions" class="pe-nav-link">Accordions</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/alerts" class="pe-nav-link">Alert</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/avatars" class="pe-nav-link">Avatar</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/badges" class="pe-nav-link">Badge</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/breadcrumbs" class="pe-nav-link">Breadcrumb</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/buttons" class="pe-nav-link">Buttons</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/buttongroup" class="pe-nav-link">Button Group</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/card" class="pe-nav-link">Cards</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/cookie" class="pe-nav-link">Cookie</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/carousel" class="pe-nav-link">Carousel</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/dropdowns" class="pe-nav-link">Dropdown</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/imagesfigures" class="pe-nav-link">Images & Figures</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/links" class="pe-nav-link">Links</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/list" class="pe-nav-link">List Group</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/tabs" class="pe-nav-link">Nav & Tabs</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/pagination" class="pe-nav-link">Pagination</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/popover" class="pe-nav-link">Popovers</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/progress" class="pe-nav-link">Progress</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/spinner" class="pe-nav-link">Spinners</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/separator" class="pe-nav-link">Separator</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/modal" class="pe-nav-link">Modal</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/offcanvas" class="pe-nav-link">Offcanvas</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/placeholders" class="pe-nav-link">Placeholders</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/toast" class="pe-nav-link">Toasts</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/tooltips" class="pe-nav-link">Tooltips</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/typography" class="pe-nav-link">Typography</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/utilities" class="pe-nav-link">Utilities</a>
                        </li>
                    </ul>
                </li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseAdvancedUI" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseAdvancedUI">
                        <i class="ri-color-filter-ai-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Advanced UI</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseAdvancedUI">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Advanced UI</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/block" class="pe-nav-link">Block</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/countup" class="pe-nav-link">Count Up</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/draggablecards" class="pe-nav-link">Draggable Cards</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/mediaplayer" class="pe-nav-link">Media Player</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/ratings" class="pe-nav-link">Rating</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/ribbons" class="pe-nav-link">Ribbons</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/scrollspy" class="pe-nav-link">Scroll Spy</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/sortablejs" class="pe-nav-link">Sortable JS</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/sweetalert2" class="pe-nav-link">Sweet Alert</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/advanceswiper" class="pe-nav-link">Swiper JS</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/tour" class="pe-nav-link">Tour</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/treeview" class="pe-nav-link">Tree View</a>
                        </li>
                    </ul>
                </li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseFroms" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseFroms">
                        <i class="ri-information-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Forms</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseFroms">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Forms</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/elements" class="pe-nav-link">
                                Input
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/checkboxsradios" class="pe-nav-link">
                                Checkbox & Radios
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/inputgroup" class="pe-nav-link">
                                Inout Group
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/select" class="pe-nav-link">
                                Form Select
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/range" class="pe-nav-link">
                                Range Slider
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/inputspin" class="pe-nav-link">
                                Input Spin
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/inputmasks" class="pe-nav-link">
                                Input Masks
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/fileuploads" class="pe-nav-link">
                                File Uploads
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/datepicker" class="pe-nav-link">
                                Date,Time Picker
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/ui/floatinglabels" class="pe-nav-link">Floating Label</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/layout" class="pe-nav-link">Form Layout</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/editor" class="pe-nav-link">Editor</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/validation" class="pe-nav-link">Form Validation</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/wizards" class="pe-nav-link">Form Wizards</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/form/advanced" class="pe-nav-link">Form Advanced</a>
                        </li>
                    </ul>
                </li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseTables" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTables">
                        <i class="ri-table-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Tables</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseTables">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Tables</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/tables/basic" class="pe-nav-link">
                                Basic Tables
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/tables/listjs" class="pe-nav-link">
                                List JS Table
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/tables/gridjs" class="pe-nav-link">
                                Grid JS Table
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/tables/datatables" class="pe-nav-link">
                                Datatables
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseCharts" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseCharts">
                        <i class="ri-line-chart-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Charts</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseCharts">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Charts</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/chart/apexline" class="pe-nav-link">
                                Apex Charts
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/chart/jschart" class="pe-nav-link">
                                Chartjs Charts
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/chart/echart" class="pe-nav-link">
                                Echart Charts
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Icons & Maps -->
                <li class="pe-menu-title">Icons & Maps</li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseIcons" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseIcons">
                        <i class="ri-compasses-2-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Icons</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseIcons">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Icons</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/icons/remix" class="pe-nav-link">
                                Remix Icons
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/icons/bootstrap" class="pe-nav-link">
                                Bootstrap Icons
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/icons/lucide" class="pe-nav-link">
                                Lucide Icons
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseMaps" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMaps">
                        <i class="ri-compass-3-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Maps</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseMaps">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Maps</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/maps/google" class="pe-nav-link">
                                Google Maps
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/maps/leaflet" class="pe-nav-link">
                                Leaflet Maps
                            </a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="/maps/vector" class="pe-nav-link">
                                Vector Maps
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Other -->
                <li class="pe-menu-title">Other</li>
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseMenuLavels" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenuLavels">
                        <i class="ri-flow-chart pe-nav-icon"></i>
                        <span class="pe-nav-content">Menu levels</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseMenuLavels">
                        <li class="slide pe-nav-content1">
                            <a href="javascript:void(0)">Menu levels</a>
                        </li>
                        <li class="pe-slide-item">
                            <a href="#!" class="pe-nav-link">
                                Level 1.1
                            </a>
                        </li>
                        <li class="pe-slide-item pe-has-sub">
                            <a href="#collapseMenuLavels2" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenuLavels2">
                                <span class="pe-nav-sub-content">Level 1.2</span>
                                <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                            </a>
                            <ul class="pe-slide-menu collapse" id="collapseMenuLavels2">
                                <li class="slide pe-nav-content1">
                                    <a href="javascript:void(0)">Level 1.2</a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="#!" class="pe-nav-link">
                                        Level 2.1
                                    </a>
                                </li>
                                <li class="pe-slide-item">
                                    <a href="#!" class="pe-nav-link">
                                        Level 2.2
                                    </a>
                                </li>
                                <li class="pe-slide-item pe-has-sub">
                                    <a href="#collapseMenuLavels3" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenuLavels3">
                                        <span class="pe-nav-sub-content">Level 2.3</span>
                                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                                    </a>
                                    <ul class="pe-slide-menu collapse" id="collapseMenuLavels3">
                                        <li class="slide pe-nav-content1">
                                            <a href="javascript:void(0)">Level 2.3</a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="#!" class="pe-nav-link">
                                                Level 3.1
                                            </a>
                                        </li>
                                        <li class="pe-slide-item">
                                            <a href="#!" class="pe-nav-link">
                                                Level 3.2
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Widgets -->
            <div class="sidebar-widget p-4 text-center rounded">
                <img height="30" width="30" class="mx-auto d-block mb-4" alt="Dark Logo" src="~/assets/images/logo-md-htl.png">
                <h6 class="mb-1 fw-medium">View + Event Limit</h6>
                <p class="mb-4 fs-13 opacity-40">Visit to our help center.</p>
                <a href="#!" class="btn btn-light-secondary py-2 px-4 rounded d-block w-100 mb-2">Learn more</a>
                <a href="#!" class="btn btn-light w-100 position-relative">
                    Upgrade plan
                    <div class="w-25px h-25px bg-primary rounded position-absolute top-50 end-0 translate-middle-y me-1 fs-5 d-flex align-items-center justify-content-center">
                        <i class="ri-arrow-right-s-line"></i>
                    </div>
                </a>
            </div>
        </div>
    </nav>
</aside>